.aboutContainer {
  height: 100vh;
  background-color: #f2f2f2;
  padding: 2em;
}

.aboutText {
  width: 500px;
  margin: 0 auto;
}

@media only screen and (max-width: 500px) {
  .aboutText {
    width: 250px;
    margin: 0 auto;
  }
}
