.footer {
  padding: 1rem;
  background-color: #22370e;
  color: #fff;
  position: relative;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
  a {
    color: #fff;
  }
  p {
    margin: unset;
    font-size: 12px;
  }
}
