.topnav {
  background-color: #fff;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  line-height: 47px;
  width: 100%;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #000;
  text-align: center;
  margin: 14px 8px;
  padding: 0px 8px;
  text-decoration: none;
  font-size: 17px;
  transition: 0.3s;
}

.topnav a:hover {
  background-color: #22370e;
  color: #fff;
}

.logo {
  height: auto;
  width: 77px;
  float: left;
  margin: 14px 8px;
  padding: 0px 8px;
}

.social {
  float: right;
  margin: 14px 8px;
  padding: 0px 8px;
  i {
    margin: 0 12px;
  }
}
