.heroOverlay {
  text-align: center;
  position: absolute;
  text-transform: uppercase;
  z-index: 0;
  width: 100%;
  h1 {
    font-size: 4vw;
    transform: translate(3vw, 10vh);
    color: #fff;
    letter-spacing: 0.3rem;
    font-weight: 700;
    text-align: left;
    font-family: "Montserrat", sans-serif;
  }
}

.hero {
  position: relative;
  width: 100%;
  height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../static/pexels-mike-145685.jpg") no-repeat center center/cover;
}

.heroImage {
  display: block;
  overflow: visible;
  z-index: -1;
  margin-left: auto;
  margin-right: auto;
  width: 75%;
}

.btn {
  width: 180px;
  height: 60px;
  cursor: pointer;
  background: transparent;
  border: 1px solid #108742;
  outline: none;
  transition: 1s ease-in-out;
  transform: translate(1vw, 12vh);
  position: relative;
  font-family: "Montserrat", sans-serif;
}

svg {
  position: absolute;
  left: 0;
  top: 0;
  fill: none;
  stroke: #fff;
  stroke-dasharray: 150 480;
  stroke-dashoffset: 150;
  transition: 1s ease-in-out;
}

.btn:hover {
  transition: 1s ease-in-out;
  background: #515715;
}

.btn:hover svg {
  stroke-dashoffset: -480;
}

.btn span {
  color: white;
  font-size: 1.5em;
  font-weight: 700;
}
