.projectTile {
  width: 240px;
  margin: 12px;
  text-align: center;
  h3 {
    font-weight: 800;
    position: absolute;
    top: 75px;
    z-index: 1;
    color: #fff;
    font-size: 1em;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    text-transform: uppercase;
  }
}

.projectHeader {
  position: relative;
}

.projectPhoto {
  box-shadow: 3px 3px 4px 1px rgba(0, 0, 0, 0.6);

  width: 100%;
  height: 159.5px;
  object-fit: cover;
  filter: brightness(50%);
  transition: 0.4s;
}

.projectPhoto:hover {
  filter: brightness(70%);
}

.projectList {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  position: relative;
  // grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  // justify-items: center;
}

.projectContainer {
  // height: 100vh;
  background-color: #f2f2f2;
  h1 {
    text-align: center;
    padding: 0.5em 0;
  }
}

.red {
  color: red;
}
