.projectTile {
  width: 240px;
  background-color: #fff;
  padding: 1em;
  margin: 12px;
  h3 {
    text-align: center;
    font-weight: 800;
    margin-bottom: 12px;
  }
}

.projectPhoto {
  width: 100%;
  height: 159.5px;
  object-fit: cover;
}

.projectsGrid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  justify-items: center;
}

.projectContainer {
  // height: 100vh;
  background-color: #f2f2f2;
  h1 {
    text-align: center;
    padding: 0.5em 0;
  }
}

.red {
  color: red;
}
